.schedule table {
    display: table;
}

.schedule table thead {
    display: table-header-group;
}

.schedule table tbody tr {
    display: table-row;
}

.schedule table tbody tr td {
    display: table-cell;
}

.schedule .time {
    display: table-cell;
}
