/* dzienny.css */
.schedule td.time {
    width: 10%; /* Stała szerokość dla kolumny z godzinami */
    font-weight: bold;
    text-align: center; /* Wyśrodkowanie godziny */
    vertical-align: middle; /* Wyśrodkowanie w pionie */
}

.schedule td.content {
    width: 90%; /* Reszta przestrzeni na zajęcia */
    text-align: left;
    padding: 10px;
    vertical-align: top;
    border-left: 1px solid #ddd; /* Oddzielenie kolumn */
}

/* plan.css */
.schedule table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto; /* Pozwól na dynamiczne dostosowanie */
}

.schedule th, .schedule td {
    border: 1px solid #ddd;
    padding: 10px 6px;
    text-align: center;
}

.schedule th:first-child, .schedule td:first-child {
    width: 10%; /* Szerokość dla kolumny z godzinami */
}

.schedule th:not(:first-child), .schedule td:not(:first-child) {
    width: auto; /* Pozostała część przestrzeni */
}
